
p {
      color:rgb(35, 102, 226); font-size: 25px; margin-bottom:0px;
}
.input1 {
      width: 70%;
      height: 30px;
      border-radius: 5px;
}
.btn{
      border: none;
      background-color: dodgerblue;
      color: white;
      font-size: 20px;
      margin-top: 47px;
      padding: 10px;
      border-radius: 5px;
}
th {
      width:25%;
      color:rgb(35, 102, 226);
      font-size: 30px;
}
td {
      color:rgb(26, 12, 7);
      font-size: 25px;
}
